CODE/23_10_24_all_compare_no_statistics/__pycache__/*
CODE/23_12_01_all_compare_epsilon_MG/__pycache__/*
CODE/24_02_08_OFN_paper/__pycache__/*
CODE/23_10_24_all_compare_no_statistics/DATA/*
CODE/23_12_01_all_compare_epsilon_MG/DATA/*
CODE/24_02_08_OFN_paper/DATA/*
CODE/23_10_24_all_compare_no_statistics/RESULTS/*
CODE/23_12_01_all_compare_epsilon_MG/RESULTS/*
CODE/24_02_08_OFN_paper/RESULTS/*
CODE/23_10_24_all_compare_no_statistics/PLOTS/*
CODE/23_12_01_all_compare_epsilon_MG/PLOTS/*
CODE/24_02_08_OFN_paper/PLOTS/*